/* fundo do site e seu corpo em geral */
body {
    background-color: rgb(26, 26, 26);
    color: white;
    margin: auto;
    text-align: center;
}

/* area para ficar os icones da materia e toda configurações para os icones imagens e seus textos abaixo dos icons */
#area_icones_materias{
    display: grid;
    gap: 1em 1em;
}
#icones_materias{
    margin: auto;
    margin-top: 5%;
    width: 75%;
    margin-bottom: -10%;
}
#textos_materias{
    text-align: center;
    line-height: 10em;
    font: bold 150% Arial;
    color: black;
}

/* Separador de foco */
#linha{
    background-color: white;
    width: 0%;
    margin: auto;
    height: 0em;
    border-radius: 100%;
    transition-duration: 0.5s;
}
#linha_2{
    background-color: white;
    width: 0%;
    margin: auto;
    height: 0em;
    border-radius: 100%;
    transition-duration: 0.5s;
}

/* Icone para selecionar a materia */
#fisica_icone_botao {
    cursor: pointer;
    margin: auto;
    width: 12em;
    height: 12em;
    background-color: snow;
    border-radius: 5%;
}
#quimica_icone_botao {
    cursor: pointer;
    margin: auto;
    width: 12em;
    height: 12em;
    background-color: snow;
    border-radius: 5%;
}
#portugues_icone_botao {
    cursor: pointer;
    margin: auto;
    width: 12em;
    height: 12em;
    background-color: snow;
    border-radius: 5%;
    margin-bottom: 1%;
}

/* Selecionar o conteudo para a materia */
#conteudo_1, #conteudo_2, #conteudo_3 {
    cursor: pointer;
    font: bold 125% arial;
    width: 0%;
    height: 0em;
    border-radius: 5%;
    background-color: snow;
    margin: auto;
    margin-bottom: 1%;
    text-align: center;
    color: black;
    line-height: 2em;
    transition-duration: 0.5s;
}

/* formato padrão dos videos */
#video {
    width: 70%; /* 100% para ocupar toda a largura disponível */
    height: 35vw; /* Altura automática para manter a proporção */
    max-height: 35vw; /* Limita a altura máxima, se necessário */
    transition-duration: 0.5s;
    margin-left: -32%;
}

/* area que fica as questões e questões */
#area_questoes{
    margin-left: 69%;
    margin-top: -35%;
    background-color: rgba(0, 0, 0, 0);
    width: 0%;
    height: 0em;
    border-radius: 5%;
    transition-duration: 0.5s;
}
#questao_1, #questao_2, #questao_3, #questao_4, #questao_5 {
    cursor: pointer;
    margin: auto;
    margin-top: 3%;
    background-color: rgb(255, 255, 255);
    width: 95%;
    height: 6vw;
    border-radius: 10%;
    font: bold 100% Arial;
    color: black;
    line-height: 6vw;
}
#questoes {
    width: 68%;
    height: 35vw;
    margin-left: 1%;
    background-color: rgba(255, 255, 255, 0.253);
    border-radius: 5%;
    transition-duration: 0.5s;
}
#pergunta_1{
    font: normal 100% Arial;
    line-height: 3vw;
    text-align: center;
}

/* area das alternativas e suas alternativas */
#alternativas {
    margin-top: 1%;
    background-color: rgba(255, 255, 255, 0);
    width: 0%;
    height: 0vw;
    border-radius: 10%;
    line-height: 5vw;
    text-align: center;
    margin-left: 1%;
    transition-duration: 0.5s;
}
#alternativa_1, #alternativa_2, #alternativa_3, #alternativa_4, #alternativa_5 {
    cursor: pointer;
    font: bold 80% Arial;
    background-color: rgba(255, 255, 255, 0.11);
    line-height: 3vw;
    width: 100%;
    height: 4vw;
    border-radius: 10%;
    margin-top: 1%;
    transition-duration: 0.5s;
    text-align: start;
}

/* roda-pé */
#creditos{
    font: normal 100% Arial;
    margin-top: 38%;
}