body {
    background-color: rgb(26, 26, 26);
    color: white;
    margin: auto;
    text-align: center;
}

#area_icones_materias{
    display: grid;
    gap: 1em 1em;
}
#icones_materias{
    margin: auto;
    margin-top: 5%;
    width: 75%;
    margin-bottom: -10%;
}
#textos_materias{
    text-align: center;
    line-height: 10em;
    font: bold 150% Arial;
    color: black;
}
#linha{
    background-color: white;
    width: 0%;
    margin: auto;
    height: 0em;
    border-radius: 100%;
    transition-duration: 0.5s;
}
#linha_2{
    background-color: white;
    width: 0%;
    margin: auto;
    height: 0em;
    border-radius: 100%;
    transition-duration: 0.5s;
}

#fisica_icone_botao {
    cursor: pointer;
    margin: auto;
    width: 12em;
    height: 12em;
    background-color: snow;
    border-radius: 5%;
}
#quimica_icone_botao {
    cursor: pointer;
    margin: auto;
    width: 12em;
    height: 12em;
    background-color: snow;
    border-radius: 5%;
    margin-bottom: 1%;
}

#conteudo_1, #conteudo_2, #conteudo_3 {
    cursor: pointer;
    font: bold 125% arial;
    width: 0%;
    height: 0em;
    border-radius: 5%;
    background-color: snow;
    margin: auto;
    margin-bottom: 1%;
    text-align: center;
    color: black;
    line-height: 2em;
    transition-duration: 0.5s;
}

#video {
    margin-left: -25%;
}

#creditos{
    font: normal 100% Arial;
    margin-top: 20%;
}